
# BEGIN BackUpWordPress
# Questo .htaccess file assicura che non è possibile scaricare i file di backup.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=8992d10fa077e142f427ffaab064597f
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress