
# BEGIN BackUpWordPress
# Questo .htaccess file assicura che non è possibile scaricare i file di backup.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=4ee69be24ff04d5dce04cc7f979de274
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress